<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNS.Properties.Settings.QLNSConnectionString" connectionString="Data Source=|DataDirectory|\QLNS.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="QLNS.Properties.Settings.QLNSConnectionString1" connectionString="Data Source=DESKTOP-N5JKS23\SQLEXPRESS;Initial Catalog=QLNS;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLNS.Properties.Settings.QLNSConnectionString2" connectionString="Data Source=DESKTOP-39CDSDL\SQLEXPRESS;Initial Catalog=QLNS;Integrated Security=True;MultipleActiveResultSets=True;User Instance=False;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>